// fonts
$font-size-title: 16px;
$font-size-subtitle: 12px;

// colors
$color-subtitle: #b2b7b9;
$color-table-border: #e1e4e5;
$color-table-header: #b2b7b9;

// spacing
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 16px;
$spacing-4: 24px;

// borders
$border-radius: 4px;

// other
$box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
